{% extends 'base.html' %}





{% block body %}

<h1>Veja todos seus cards e aprenda com a sequencia que você criou</h1>
<button type="button" commandfor="modal" command="show-modal">Criar Card</button>
{% for card in cards %}
<div class="card-container">
    <p>id_card</p>
    <p>Categoria: {{ card.card_categoria }}</p>
    <input type="checkbox" id="virar-card-{{ card.id }}">
    <label for="virar-card-{{ card.id }}" class="card">
        <div class="pergunta">
            <h4>Pergunta</h4>
            <h2>{{ card.card_pergunta }}</h2>
            <p class="botao">Clica para revelar</p>
        </div>
        <div class="resposta">
            <p>Resposta</p>
            <h2>{{ card.card_resposta }}</h2>
            <p class="botao">Clica para revelar</p>
        </div>
    </label>
    <form method="post" action="{{ url_for('flashcard')}}">
        {{ form_card.hidden_tag() }}
        <input type="hidden" name="card_id" value="{{ card.id }}">
        <button type="submit" name="botao_submit_excluir">Excluir</button>
    </form>        
    <form method="post" action="{{ url_for('flashcard')}}">
        {{ form_card.hidden_tag() }}
        <input type="hidden" name="card_editar_id" value="{{ card.id }}">
        <button type="submit" name="botao_submit_editar">Editar</button>
    </form>
{% else %}
    <p class="vazio">Nenhum card feito ainda.</p>
{% endfor %}
</div>
<dialog
    id="modal"
    class="modal-form"
    aria-labelledby="admin-form-title"
    >
    <form method="post" action="{{ url_for('flashcard')}}">
        <fieldset>
            <button type="button" commandfor="modal" command="close">X</button>
            {{ form_card.hidden_tag() }}
            {% if modal_aberto == 'editar' %}
                <legend>Edição</legend>
                <input type="hidden" name="card_editar_id" value="{{ card_edicao.id }}">
            {% else %}
                <legend id="admin-form-title">Criando card</legend>
            {% endif %}
            {{ form_card.card_pergunta.label }}
            {{ form_card.card_pergunta }}
            <br>
            {{ form_card.card_resposta.label }}
            {{ form_card.card_resposta }}
            <br>
            {{ form_card.card_categoria }}
        </fieldset>
        <br>
        {% if modal_aberto == 'editar' %}
            <button type="submit" name="botao_salvar_edicao">Salvar Alterações</button>
        {% else %}
            {{ form_card.botao_submit_card }}
        {% endif %}
    </form>
</dialog>

{% if modal_aberto == 'editar' %}
    <script>document.getElementById('modal').showModal();</script>
{% endif %}

{% endblock %}