{% extends 'base.html' %}


{% block body %}

<div>
    <div>
        <p>{{ materia.nome_materia }}</p>
        <hr>
        <p>{{ materia.descricao_materia }}</p>
    </div>
    <div>
        <span>SOBRE A MATÉRIA</span>
        <p>{{ materia.sobre_materia }}</p>
    </div>
</div>

<hr>
<nav>
    <button data-aba="anotacoes">
        🗒️ Anotações
    </button>

    <button data-aba="flashcards">
        🗂️ Flashcards
    </button>

    <button class="ativo" data-aba="questoes">
        📋 Questões
    </button>
</nav>

<section id="anotacoes" class="conteudo">
    
    <button type="button" commandfor="modal-anotacao" command="show-modal">
        + Nova Anotações
    </button>  

    <h2>Anotações da Matéria {{ materia.nome_materia }}</h2>
    {% for anotacao in anotacoes %}
    <div class="card-conector">

    <h3>{{ anotacao.titulo }}</h3>
    <p>{{ anotacao.conteudo }}</p>

    {% else %}
        <p class="vazio">Nenhuma Anotação feita ainda.</p>
    </div>
    {% endfor %}

</section>

<section id="flashcards" class="conteudo">

    <button type="button" commandfor="modal" command="show-modal">
        + Novo Flashcards
    </button>

    <h2>Flashcards da Matéria {{ materia.nome_materia }}</h2>

    {% for card in cards %}
    <div class="card-container">
        <p>id_card</p>
        <p>Categoria: {{ card.card_categoria }}</p>
        <input type="checkbox" id="virar-card-{{ card.id }}">
        <label for="virar-card-{{ card.id }}" class="card">
            <div class="pergunta">
                <h4>Pergunta</h4>
                <h2>{{ card.card_pergunta }}</h2>
                <p class="botao">Clica para revelar</p>
            </div>
            <div class="resposta">
                <p>Resposta</p>
                <h2>{{ card.card_resposta }}</h2>
                <p class="botao">Clica para revelar</p>
            </div>
        </label>
        <form method="post" action="{{ url_for('materia', materia_id=materia.id)}}">
            {{ form_card.hidden_tag() }}
            <input type="hidden" name="card_id" value="{{ card.id }}">
            <button type="submit" name="botao_submit_excluir">Excluir</button>
        </form>        
        <form method="post" action="{{ url_for('materia', materia_id=materia.id)}}">
            {{ form_card.hidden_tag() }}
            <input type="hidden" name="card_editar_id" value="{{ card.id }}">
            <button type="submit" name="botao_submit_editar">Editar</button>
        </form>
    {% else %}
        <p class="vazio">Nenhum card feito ainda.</p>
    </div>
    {% endfor %}
</section>

<section id="questoes" class="conteudo ativo">

    <button type="button" commandfor="modal-materia" command="show-modal">
        + Nova Questôes
    </button>

    <h2>Questoes da Matéria {{ materia.nome_materia }}</h2>

    {% for questao in questoes %}
        <div class="card-conector">
            <h3>{{ questao.enunciado }}</h3>
            <p>{{ questao.alternativa_a }}</p>
            <p>{{ questao.alternativa_b }}</p>
            <p>{{ questao.alternativa_c }}</p>
            <p>{{ questao.alternativa_d }}</p>
        </div>
    {% endfor %}
</section>

<dialog
id="modal-anotacao"
class="modal-form"
>
    <form method="post" action="{{ url_for('materia', materia_id=materia.id)}}">
        <button type="button" commandfor="modal-anotacao" command="close">X</button>
        {{ form_anotacao.hidden_tag() }}
        <fieldset>
            {{ form_anotacao.titulo.label }}
            {{ form_anotacao.titulo }}
            {{ form_anotacao.conteudo.label }}
            {{ form_anotacao.conteudo }}
        </fieldset>
        {{ form_anotacao.botao_submit_anotacao }}
    </form>

<dialog
id="modal"
class="modal-form"
aria-labelledby="admin-form-title"
>
    <form method="post" action="{{ url_for('materia', materia_id=materia.id)}}">
        <fieldset>
            <button type="button" commandfor="modal" command="close">X</button>
            {{ form_card.hidden_tag() }}
            {% if modal_aberto == 'editar' %}
                <legend>Edição</legend>
                <input type="hidden" name="card_editar_id" value="{{ card_edicao.id }}">
            {% else %}
                <legend id="admin-form-title">Criando card</legend>
            {% endif %}
            {{ form_card.card_pergunta.label }}
            {{ form_card.card_pergunta }}
            <br>
            {{ form_card.card_resposta.label }}
            {{ form_card.card_resposta }}
            <br>
            {{ form_card.card_categoria }}
        </fieldset>
        <br>
        {% if modal_aberto == 'editar' %}
            <button type="submit" name="botao_salvar_edicao">Salvar Alterações</button>
        {% else %}
            {{ form_card.botao_submit_card }}
        {% endif %}
    </form>
</dialog>

<dialog
id="modal-materia"
class="modal"
>
    <form method="post" action="{{ url_for('materia', materia_id=materia.id)}}">
        {{ form_questao.hidden_tag() }}
        <button type="button" commandfor="modal-materia" command="close">
            X
        </button>
        <fieldset>
            {{ form_questao.enunciado.label }}
            {{ form_questao.enunciado }}
            <br>
            {{ form_questao.resposta_correta.label }}
            {{ form_questao.resposta_correta }}
            {{ form_questao.alternativa_a.label }}
            {{ form_questao.alternativa_a }}
            <br>
            {{ form_questao.alternativa_b.label }}
            {{ form_questao.alternativa_b }}
            <br>
            {{ form_questao.alternativa_c.label }}
            {{ form_questao.alternativa_c }}
            <br>
            {{ form_questao.alternativa_d.label }}
            {{ form_questao.alternativa_d }}
        </fieldset>
        {{ form_questao.botao_submit_questao }}
    </form>
</dialog>

<script>
const links = document.querySelectorAll('nav button');
const conteudos = document.querySelectorAll('.conteudo');

function ativarAba(link) {

    // Remove ativo de todos os botões
    links.forEach(item => {
        item.classList.remove('ativo');
    });

    // Esconde todos os conteúdos
    conteudos.forEach(item => {
        item.classList.remove('ativo');
    });

    // Ativa o botão clicado
    link.classList.add('ativo');

    // Pega o ID do conteúdo
    const id = link.dataset.aba;

    // Mostra o conteúdo
    const conteudo = document.getElementById(id);

    if (conteudo) {
        conteudo.classList.add('ativo');
    }
}


// Clique nas abas
links.forEach(link => {

    link.addEventListener('click', () => {

        ativarAba(link);

        // Coloca o ID da aba na URL
        window.location.hash = link.dataset.aba;

    });

});


// Quando a página abrir
function carregarAbaPelaURL() {

    const hash = window.location.hash;

    if (!hash) {
        return;
    }

    const nomeAba = hash.substring(1);

    const link = document.querySelector(
        `[data-aba="${nomeAba}"]`
    );

    if (link) {
        ativarAba(link);
    }
}

carregarAbaPelaURL();
</script>

{% if modal_aberto == 'editar' %}
    <script>document.getElementById('modal').showModal();</script>
{% endif %}

{% endblock %}