{% extends 'base.html' %}


{% block body %}

<div>
    <div>
        <a href="{{ url_for('materias') }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left h-4 w-4" aria-hidden="true"><path d="m12 19-7-7 7-7"></path><path d="M19 12H5"></path></svg>
        </a>
        <div>
            <div class="icon">{{ materia.nome_materia[0] }}</div>
            <p>{{ materia.nome_materia }}</p>
            <hr>
            <p>{{ materia.descricao_materia }}</p>
        </div>
    </div>
    <div>
        <span>SOBRE A MATÉRIA</span>
        <p>{{ materia.sobre_materia }}</p>
    </div>
</div>

<hr>
<nav>
    <button data-aba="anotacoes">
        🗒️ Anotações
    </button>

    <button data-aba="flashcards">
        🗂️ Flashcards
    </button>

    <button class="ativo" data-aba="questoes">
        📋 Questões
    </button>
</nav>

<section id="anotacoes" class="conteudo">
    
    <button type="button" commandfor="modal-anotacao" command="show-modal">
        + Nova Anotação
    </button>  

    <h2>Anotações da Matéria {{ materia.nome_materia }}</h2>
    {% for anotacao in anotacoes %}
        <div class="card-conector">

            <h3>{{ anotacao.titulo }}</h3>
            <p>{{ anotacao.conteudo }}</p>
            {% for tag in anotacao.tags.split(',') %}
            <p>{{ tag.strip() }}</p>
            {% endfor %}
            <form method="post" action="{{ url_for('materia', materia_id=materia.id)}}">
                {{ form_anotacao.hidden_tag() }}
                <input type="hidden" name="anotacao_id" value="{{ anotacao.id }}">
                <button type="submit" name="botao_submit_excluir_anotacao">Excluir</button>
            </form>        
            <form method="post" action="{{ url_for('materia', materia_id=materia.id)}}#anotacoes">
                {{ form_anotacao.hidden_tag() }}
                <input type="hidden" name="anotacao_editar_id" value="{{ anotacao.id }}">
                <button type="submit" name="botao_submit_editar_anotacao">Editar</button>
            </form>
        </div>
    {% else %}
        <p class="vazio">Nenhuma Anotação feita ainda.</p>
    {% endfor %}

</section>

<section id="flashcards" class="conteudo">

    <button type="button" commandfor="modal" command="show-modal">
        + Novo Flashcard
    </button>

    <h2>Flashcards da Matéria {{ materia.nome_materia }}</h2>

    {% for card in cards %}
    <div class="card-base">
        <div class="card-materia">
            <p><strong>{{ card.card_pergunta }}</strong></p>
            <p>{{ card.card_resposta }}</p>
        </div>
        <form method="post" action="{{ url_for('materia', materia_id=materia.id)}}">
            {{ form_card.hidden_tag() }}
            <input type="hidden" name="card_id" value="{{ card.id }}">
            <button type="submit" name="botao_submit_excluir">Excluir</button>
        </form>        
        <form method="post" action="{{ url_for('materia', materia_id=materia.id)}}">
            {{ form_card.hidden_tag() }}
            <input type="hidden" name="card_editar_id" value="{{ card.id }}">
            <button type="submit" name="botao_submit_editar">Editar</button>
        </form>
    </div>
    {% else %}
        <p class="vazio">Nenhum card feito ainda.</p>
    {% endfor %}
</section>

<section id="questoes" class="conteudo ativo">

    <button type="button" commandfor="modal-materia" command="show-modal">
        + Nova Questão
    </button>

    <h2>Questoes da Matéria {{ materia.nome_materia }}</h2>

    {% for questao in questoes %}
        <div class="card-conector">
            <h3>{{ questao.enunciado }}</h3>
            <p>{{ questao.alternativa_a }}</p>
            <p>{{ questao.alternativa_b }}</p>
            <p>{{ questao.alternativa_c }}</p>
            <p>{{ questao.alternativa_d }}</p>
        </div>
    {% else %}
        <p class="vazio">Nenhuma Questão feita ainda.</p>
    {% endfor %}
</section>

<dialog
id="modal-anotacao"
class="modal-form"
>
    <form method="post" action="{{ url_for('materia', materia_id=materia.id)}}">
        <button type="button" commandfor="modal-anotacao" command="close">X</button>
        {{ form_anotacao.hidden_tag() }}
        <fieldset>
            {% if modal_aberto == 'editar_anotacao' %}
                <legend>Edição</legend>
                <input type="hidden" name="anotacao_editar_id" value="{{ anotacao_edicao.id }}">
            {% else %}
                <legend id="admin-form-title">Criando Anotação</legend>
            {% endif %}

            {{ form_anotacao.titulo.label }}
            {{ form_anotacao.titulo }}
            <br>
            {{ form_anotacao.conteudo.label }}
            {{ form_anotacao.conteudo }}
            <br>
            {{ form_anotacao.tags.label }}
            {{ form_anotacao.tags }}
        </fieldset>
        {% if modal_aberto == 'editar_anotacao' %}
            <button type="submit" name="botao_salvar_edicao_anotacao">Salvar Alterações</button>
        {% else %}
            {{ form_anotacao.botao_submit_anotacao }}
        {% endif %}
    </form>
</dialog>

<dialog
id="modal"
class="modal-form"
aria-labelledby="admin-form-title"
>
    <form method="post" action="{{ url_for('materia', materia_id=materia.id)}}">
        <button type="button" commandfor="modal" command="close">X</button>
        {{ form_card.hidden_tag() }}
        <fieldset>
            {% if modal_aberto == 'editar' %}
                <legend>Edição</legend>
                <input type="hidden" name="card_editar_id" value="{{ card_edicao.id }}">
            {% else %}
                <legend id="admin-form-title">Criando card</legend>
            {% endif %}
            {{ form_card.card_pergunta.label }}
            {{ form_card.card_pergunta }}
            <br>
            {{ form_card.card_resposta.label }}
            {{ form_card.card_resposta }}
            <br>
            {{ form_card.card_categoria }}
        </fieldset>
        <br>
        {% if modal_aberto == 'editar' %}
            <button type="submit" name="botao_salvar_edicao">Salvar Alterações</button>
        {% else %}
            {{ form_card.botao_submit_card }}
        {% endif %}
    </form>
</dialog>

<dialog
id="modal-materia"
class="modal"
>
    <form method="post" action="{{ url_for('materia', materia_id=materia.id)}}">
        {{ form_questao.hidden_tag() }}
        <button type="button" commandfor="modal-materia" command="close">
            X
        </button>
        <fieldset>
            {{ form_questao.enunciado.label }}
            {{ form_questao.enunciado }}
            <br>
            {{ form_questao.resposta_correta.label }}
            {{ form_questao.resposta_correta }}
            {{ form_questao.alternativa_a.label }}
            {{ form_questao.alternativa_a }}
            <br>
            {{ form_questao.alternativa_b.label }}
            {{ form_questao.alternativa_b }}
            <br>
            {{ form_questao.alternativa_c.label }}
            {{ form_questao.alternativa_c }}
            <br>
            {{ form_questao.alternativa_d.label }}
            {{ form_questao.alternativa_d }}
        </fieldset>
        {{ form_questao.botao_submit_questao }}
    </form>
</dialog>

{% if modal_aberto == 'editar' %}
    <script>document.getElementById('modal').showModal();</script>
{% endif %}

{% if modal_aberto == 'editar_anotacao' %}
    <script>document.getElementById('modal-anotacao').showModal();</script>
{% endif %}

{% endblock %}