
<div class="open-menu">
<input type="checkbox" id="menu-toggle">
<aside class="sidebar-top">
    <label for="menu-toggle" class="menu-button">
        ☰
    </label>
    <h4>Matéria</h4>
</aside>


<aside class="sidebar">
    <div class="logo">
        ♥
    </div>

    <nav class="menu">

        <a href="/">
            <span class="icon">▦</span>
            <span class="nome">Dashboard</span>
        </a>

        <a href="/projetos">
            <span class="icon">▣</span>
            <span class="nome">Projetos</span>
        </a>

        <a href="/documentos">
            <span class="icon">□</span>
            <span class="nome">Documentos</span>
        </a>

        <a href="/camadas">
            <span class="icon">▱</span>
            <span class="nome">Categorias</span>
        </a>

        <a href="/tarefas">
            <span class="icon">▤</span>
            <span class="nome">Tarefas</span>
        </a>

        <a href="/relatorios">
            <span class="icon">⌁</span>
            <span class="nome">Relatórios</span>
        </a>

        <a href="/calendario">
            <span class="icon">▦</span>
            <span class="nome">Calendário</span>
        </a>

    </nav>

</aside>
</div>