
<div class="open-menu">
<input type="checkbox" id="menu-toggle">
<aside class="sidebar-top">
    <label for="menu-toggle" class="menu-button">
        ☰
    </label>
    <h4>
        {% if request.endpoint == 'painel' %}
            Dashboard
        {% elif request.endpoint == 'materias' %}
            Materias
        {% elif request.endpoint == 'flashcard' %}
            Flashcards        
        {% elif request.endpoint == 'anotacao' %}
            Anotações
        {% endif %}
    </h4>
</aside>


<aside class="sidebar">
    <div class="logo">
        SC
    </div>

    <nav class="menu">

        <a href="{{ url_for('painel') }}" class="{% if request.endpoint == 'painel' %}ativo{% endif %}">
            <span class="icon">▦</span>
            <span class="nome">Dashboard</span>
        </a>

        <a href="{{ url_for('materias') }}" class="{% if request.endpoint == 'materias' %}ativo{% endif %}">
            <span class="icon">▣</span>
            <span class="nome">Materias</span>
        </a>

        <a href="{{ url_for('flashcard') }}" class="{% if request.endpoint == 'flashcard' %}ativo{% endif %}">
            <span class="icon">□</span>
            <span class="nome">Flashcards</span>
        </a>

        <a href="{{ url_for('anotacao') }}" class="{% if request.endpoint == 'anotacao' %}ativo{% endif %}">
            <span class="icon">▱</span>
            <span class="nome">Anotações</span>
        </a>

        <a href="/tarefas">
            <span class="icon">▤</span>
            <span class="nome">Tarefas</span>
        </a>

        <a href="/relatorios">
            <span class="icon">⌁</span>
            <span class="nome">Relatórios</span>
        </a>

        <a href="/calendario">
            <span class="icon">▦</span>
            <span class="nome">Calendário</span>
        </a>

    </nav>

</aside>
</div>